h1= title
p Welcome to #{title}
p
	a(href: "/console/1") channel 1 websocket console
p
	a(href: "/console/2") channel 2 websocket console
p
	a(href: "/console/3") channel 3 websocket console
p
	a(href: "/console/4") channel 4 websocket console
hr
p
	a(href="/enter") HTTP version. (for japanese cellphones)
