!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/socket.io/socket.io.js")
		script(src: "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
		script(src: "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js")
	body!= body
