<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>n3d-demo</title>
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="/stylesheets/reset.css" />
<link rel="stylesheet" href="/stylesheets/foundation.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
<script src="/javascripts/jquery.scale.js"></script>
<script src="/javascripts/jquery.rotate.js"></script>
</head>
<body>
<%- body %>
</body>
</html>
